<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.CouponTypeMapper">

    <select id="selectAll" resultType="com.example.entity.CouponType">
        SELECT * FROM coupon_type
    </select>

    <insert id="insert" parameterType="com.example.entity.CouponType" >
        INSERT INTO coupon_type (
        coupon_name, description, max_per_user, validity_duration,
        valid_time, invalid_time, inserter, insert_time, updater, update_time
        ) VALUES (
        #{couponName}, #{description}, #{maxPerUser}, #{validityDuration},
        #{valid_time}, #{invalid_time}, #{inserter}, #{insertTime}, #{updater}, #{updateTime}
        )
    </insert>

    <select id="selectById" resultType="com.example.entity.CouponType">
        SELECT * FROM coupon_type where coupon_id = #{couponId}
    </select>


</mapper>