<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.GrabCouponRecordMapper">

    <select id="selectAll" resultType="com.example.entity.GrabCouponRecord">
        SELECT * FROM grab_coupon_record
    </select>

    <!-- 存一条抢券成功的记录 -->
    <insert id="insert" parameterType="com.example.entity.GrabCouponRecord">
        insert into grab_coupon_record (user_id, coupon_id, insert_time)
        values (#{userId}, #{couponId}, #{insertTime})
    </insert>

</mapper>


